<nav class=" w-full h-16 bg-blue-900  text-white flex justify-between items-center px-5" >
  <h1 class="text-3xl font-bold">Blog</h1>
  <ul class="flex gap-4" >
    <% if user_signed_in? %>
      <li class=""><%= link_to 'Edit your account', edit_user_registration_path  %></li>
      <li class=""><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li class=""><%= link_to 'Log in', new_user_session_path %></li>
      |
      <li class=""><%= link_to 'Sign up', new_user_registration_path %></li>
    <%end %>
  </ul>
</nav>
